{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "crlf",
	"proseWrap": "always",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"proseWrap": "always",
				"printWidth": 120,
				"tabWidth": 2,
				"useTabs": false,
				"singleQuote": false
			}
		},
		{
			"files": "**/*.chatmode.md",
			"options": {
				"proseWrap": "preserve",
				"printWidth": 300,
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}